.ietvars {
    width: 620px;
    margin: 40px auto;
    padding: 15px;
    background: rgb(232, 232, 233);
    border-radius: 20px;
    box-shadow: 0 15px 40px 
rgba(70, 40, 140, 0.2);

}

h1 {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: linear-gradient(90deg,#7d5cff, #a474ff);
    color: white;
    letter-spacing: 2px;
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
    margin: 6px;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    background: linear-gradient(145deg, #a474ff, #7d5cff);
    transition: all .2s;
}

a:hover {
    transform: scale(1.07);
    background: linear-gradient(145deg, #7d5cff, #5a3eff);
}


.speles_lauk {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 480px;
    margin: 25px auto;
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(145deg, #a474ff, #7d5cff);

}

.bloks {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: bold;
    color: white;
    border-radius: 16px;
    background: linear-gradient(145deg, #c9aaff, #9b7dff);
    box-shadow: 0 8px 15px rgba(0, 0, 0 , 0.2);
    transition: all .2s;
}

.bloks:hover {
    cursor: pointer;
    transform: translateY(-6px);
    background: linear-gradient(145deg, #9b7dff, #6c4eff);
}

table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td{
    border: 2px solid #8c6cff;
    padding: 10px;
    text-align: center;
}

th{
    background: #8c6cff;
    color: white;
}

tr :nth-child(even) {
    background: #eee6ff;
}

footer {
    margin-top: 30px;
    text-align: center;
    padding: 12px;
    background: linear-gradient(90deg, #7d5cff, #a474ff);
    color: white;
    border-radius: 12px;
}