<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</header>
<body>
    <div class="ietvars"><!--pelēkais laukums-->
        <div class="galviene"><!--virsraksts un meņuška-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/spele">Spēle</a></li>
                <li><a href="/tops">Tops</a></li>
                <li><a href="/par">Par projektu</a></li>
            </ul>
        </div><!--aizver galvieni-->
        <div class="saturs">
            <h2>Par projektu</h2>

            <p>Veidotais projekts ir kartīšu spēle, kuras mērķis ir atrast divas kartītes ar vienādiem attēliem. Projekts tikai veidots ilgāk par vienu mācību gadu, bet tā veidošanās laikā tika iegūts daudz jaunu prasmju un zināšanu.
</p>

            <p>Strādājot pie spēles izveides, es iemācījos daudz jaunu funkciju. Es sapratu, kā izveidot spēles kartītes un tās noformēt, kā darbojas visa šī spēle un kā tiek saglabāta un analizēta spēlētāja informācija. Uzzināju kā noformēt kodu, lai tas būtu iespējami viegli pārskatāms,īss un saprotams.
</p>

            <p>Papildus es ieguvu izpratni par to, kā darbojas šāda veida spēles,kā rodas viņu ideja un kā to var realizēt,lai beigās sanāktu pilnvērtīga spēle. Es apguvu to,ka ir ļoti svarīgi plānot savu darbu, pareizi sadalīt izpildāmos uzdevumus un regulāri pārbaudīt vai izveidotais darbojas korekti vai vispār nedarbojas. Tā rezultātā arī iemācījos at risināt problēmas, kas rodas projekta izstrādes procesā.</p>

            <p>Apkopojumā, es apguvu arī to, kā vispārīgi pareizi noformēt projektu, kā sakārtot visus izveidotos failus, tajos pievienot informāciju un noformējumu un kopumā kā sakārtot un nobeigt projektu. Kopumā šis projekts bija ļoti vērtīgs, jo deva man ļoti daudz jaunu zināšanu un es uzzināju par daudzām funkcijām,kuras iepriekš man nebija zināmas.</p>


        </div><!--aizver saturs-->




    </div><!--aizver ietvars-->

    <footer>Autors: Laura Medvedjeva, 2026</footer>
</body>




</html>